form.contact-form#contact
  fieldset
    legend Personal Info
    .form-control
      label.form-label(for='name')
        span Name
      input#name.form-input(type='text', name='name', placeholder='Full Name', value='MY NAME', required)
    .form-control
      label.form-label(for='company')
        span Company
      input#company.form-input(type='text', name='company', placeholder='Company', value='MY COMPANY')
    .form-control
      label.form-label(for='email')
        span Email
      input#email.form-input(type='email', name='email', placeholder='Email Address', value='johnsmith@fake.com', required)
    .form-control.form-textarea
      label.form-label(for='message')
        span Message
      textarea#message.form-input(name='message', placeholder='Enter your message here...', required)
  .form-control
    button.submit Submit
