form.contact-form#contact
  fieldset
    legend Personal Info
    .form-control
      label.form-label(for='name')
        span Name
      input#name.form-input(type='text', name='name', placeholder='Full Name', required)
    .form-control
      label.form-label(for='company')
        span Company
      input#company.form-input(type='text', name='company', placeholder='Company')
    .form-control
      label.form-label(for='email')
        span Email
      input#email.form-input(type='email', name='email', placeholder='Email Address', required)
    .form-control.form-textarea
      label.form-label(for='message')
        span Message
      textarea#message.form-input(name='message', placeholder='Enter your message here...', required)
  button.submit(disabled) Submit
