nav.nav-overlay
  .nav-content
    a(href='/')
      include logo.svg
    a(href='/') Home
    a(href='/about') About
    a(href='/services') Services
    a(href='/events') Events
    a(href='/contact') Contact
