nav.nav-overlay
  .nav-content
    a(href='/')
      include wordmark.svg
    a(href='/') Home
    a(href='#') About
    a(href='#') Services
    a(href='/contact') Contact
span.nav-toggle
  span.nav-icon
