.links
  .sub-links
    a(href='https://www.instagram.com/gordo_gustavos/')
      img(src='/imgs/svgs/ig-icon.svg')
    a(href='https://www.facebook.com/gordo.gustavos')
      img(src='/imgs/svgs/fb-icon.svg')
