/* --------------------------------
Events Page
-------------------------------- */

.events-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  grid-gap: 1rem;
}

.event {
  border-radius: 0.15rem;
  font-size: 1em;
  text-align: center;
  font-family: 'Arvo';
  display: flex;
  flex-direction: column;
  background-color: papayawhip;
  & .event-links {
    flex: 0 0 10%;
    background-color: peachpuff;
    font-size: 0.55rem;
    display: flex;
    flex-direction: row;
  }
}

.event-links {
  & a {
    padding: 0.2rem;
    flex: 1;
    color: #4e4e4e;
    font-weight: lighter;
  }
  & a:first-child {
    border-right: 1px solid peru;
  }
  & a:hover {
    background-color: rgba(75, 75, 75, 0.3);
  }
}

.event-text {
  padding: 0.5rem;
  & h3 {
    font-family: 'IndustryInc-Base';
    font-size: 1.1rem;
    text-decoration: underline;
    text-rendering: geometricPrecision;
    letter-spacing: 0.05em;
  }
  & h6 {
    font-size: 0.75rem;
  }
  & .date {
    font-size: 0.6rem;
    padding-top: 1rem;
  }
  & .address {
    font-size: 0.5rem;
    padding-top: 0.25rem;
  }
}
