extends layout

block content
  include partials/header
  .about-container.sub-container
    .main-content
      .text
        h2 If great BBQ doesn’t make you excited then you’re wrong.
        h6 Gordo Gustavo’s was started to bring people exceptional meats. It’s as simple as that.
        p From smoking all of our own meats and multi-day brines, to making our sauces and dry rubs from scratch, we know that if you want it done right you just have to do it yourself. Having started small with farmer's markets and since paired up with a handful of breweries, other pop-ups, we're thankful for our following and the people that truly enjoy some smoke.
      .images
        img(src='/imgs/originals/image0003.jpeg')
        img(src='/imgs/originals/image0011.jpeg')
        img(src='/imgs/originals/image0010.jpeg')

block scripts
  script(src='/js/about.js')
