extends layout

block stylesheets
  link(rel='stylesheet', href='/css/admin.bundle.css')

block content
  include partials/header
  .admin-container.sub-container
    #app
    .events
      h1 Event List
      .event
        h4 Num.
        h4 Title
        h4 Edit
        h4 Delete
    .new-event
      form.admin-form#admin
        fieldset
          legend New Event
          .form-control
            label.form-label(for='title')
              span Title
            input#title.form-input(type='text', name='title', placeholder='Title', required)
          .form-control
            label.form-label(for='description')
              span Description
            input#description.form-input(type='text', name='description', placeholder='Description', required)
          .form-control
            label.form-label(for='startDate')
              span Date
            input#startDate.form-input.flatpickr(type='text', name='startDate', placeholder='Start Date', required)
          .form-control
            label.form-label(for='endDate')  
              span End Date
            input#endDate.form-input.flatpickr(type='text', name='endDate', placeholder='End Date', required)
          .form-control
            label.form-label(for='address')
              span Address
            input#address.form-input(type='text', name='address', placeholder='Street Address', required)
          .form-control
            label.form-label(for='city')
              span City
            input#city.form-input(type='text', name='city', placeholder='City', required)
          .form-control
            label.form-label(for='state')
              span State
            include partials/state_select
          .form-control
            label.form-label(for='zip')
              span Zip
            input#zip.form-input(type='text', name='zip', placeholder='Zip', required)
          .form-control
            label.form-label(for='link')
              span Link URL
            input#url.form-input(type='text', name='link', placeholder='Link URL')
          .form-control
            label.form-label(for='linktext')
              span Link Text
            input#text.form-input(type='text', name='linktext', placeholder='Link Text')
        button.submit Submit

block scripts
  script(src='/js/admin.bundle.js')
