extends layout

block stylesheets
  link(rel='stylesheet', href='/css/admin.bundle.css')

block content
  include partials/header
  .tabs
    ul
      li(data-tab="events").is-active: a Events
      li(data-tab="reviews"): a Reviews
  .admin-container
    #reviews.sub-container
      .reviews
        table.table
          thead
            tr
              th &#x23;
              th Text
              th Author
              th Show/Hide
              th Delete
          tbody.review-list
    #events.sub-container.active      
      .events
        table.table
          thead
            tr
              th &#x23;
              th Title
              th Edit
              th Delete
          tbody.event-list

      .new-event
        form.admin-form#admin
          fieldset
            .form-control
              label.form-label(for='title')
                span Title
              input#title.form-input(type='text', name='title', placeholder='Title')
            .form-control
              label.form-label(for='description')
                span Description
              input#description.form-input(type='text', name='description', placeholder='Description')
            .form-control
              label.form-label(for='startDate')
                span Date
              input#startDate.form-input.flatpickr(type='text', name='startDate', placeholder='Start Date')
            .form-control
              label.form-label(for='endDate')  
                span End Date
              input#endDate.form-input.flatpickr(type='text', name='endDate', placeholder='End Date')
            .form-control
              label.form-label
                span Repeat
              .repeat
                input#norepeat(type='radio', checked=true, name='repeat', value='NR')
                label(for='norepeat') No Repeat
                input#daily(type='radio', name='repeat', value='D')
                label(for='daily') Daily
                input#weekly(type='radio', name='repeat', value='W')
                label(for='weekly') Weekly
                input#monthly(type='radio', name='repeat', value='M')
                label(for='monthly') Monthly
            .form-control
              label.form-label(for='address')
                span Address
              input#address.form-input(type='text', name='address', placeholder='Street Address')
            .form-control
              label.form-label(for='city')
                span City
              input#city.form-input(type='text', name='city', placeholder='City')
            .form-control
              label.form-label(for='state')
                span State
              include partials/state_select
            .form-control
              label.form-label(for='zip')
                span Zip
              input#zip.form-input(type='text', name='zip', placeholder='Zip')
            .form-control
              label.form-label(for='link')
                span Link URL
              .form-input-group
                .input-group-addon https://
                input#url.form-input(type='text', name='link', placeholder='Link URL')
            .form-control
              label.form-label(for='linktext')
                span Link Text
              input#text.form-input(type='text', name='linktext', placeholder='Link Text')
            .form-control
              button.submit.button Submit
            hr
            .form-control
              button#clear.button Clear Form
block scripts
  script(src='/js/admin.bundle.js')
