extends layout

block stylesheets
  link(rel='stylesheet', href='/css/events.bundle.css')
    
block content
  include partials/header
  .events-container.container

  include partials/social_media

block scripts
  script(src='/js/events.bundle.js')
