extends layout

block content
  .fullscreen-bg
    video.bg-video(loop, muted, autoplay)
      source(src='/videos/video0001.mp4', type='video/mp4')
      source(src='/videos/video0001.webm', type='video/webm')
  .index-container
    .img-container
      img(src='/imgs/svgs/logo_with_circle.svg')
    .links-container
      a(href='/about') About
      a(href='/services') Services
      a(href='/events') Events
      a(href='/contact') Contact
