extends layout

block content
  .fullscreen-bg
    video.bg-video(src='/videos/video0001.mp4', loop, muted, autoplay)
  .index-container
    .img-container
      img(src='/imgs/svgs/logo_with_circle.svg')
    .links-container
      a(href='/about') About
      a(href='/services') Services
      a(href='/contact') Contact
