extends layout

block content
  .fullscreen-bg
    video.bg-video(loop, muted, autoplay)
  .index-container
    .img-container
      img.logo
    .links-container
      a(href='/about') About
      a(href='/events') Events
      a(href='/reviews') Reviews
      a(href='/services') Services
      a(href='/contact') Contact

block scripts
  script(src='/js/home.bundle.js')
