extends layout

block content
  .container
    .text-container
      a(href='#')
        img(src='/imgs/svgs/logo.svg')
      h1 Gordo Gustavo's
    .img-container
      img(src='/imgs/svgs/logo_circle.svg')
