extends layout

block content
  .index-container
    .img-container
      img(src='/imgs/svgs/logo_with_circle.svg')
    .links-container
      a(href='/about') About
      a(href='/services') Services
      a(href='/contact') Contact
