doctype html
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Gordo Gustavo\'s BBQ: Watch a small, Santa Cruz, CA farmers market stand become something! Work hard and go smoke!')
    link(rel='stylesheet', href='/css/layout.bundle.css')
    block stylesheets

  body
    main
      include partials/nav_menu
      block content
      include partials/social_media
    script(src='/js/layout.bundle.js')
    block scripts
