doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/build.css')
    block stylesheets

  body
    main
      include partials/nav_menu
      .container
        block content

    script(src='/js/app.js')

    block scripts
