doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    block stylesheets
      
  body
    include partials/nav_menu

    block content

    script(src='/js/app.js')
    
    block scripts
      
