extends layout

block stylesheets
  link(rel='stylesheet', href='/css/reviews.bundle.css')

block content
  include partials/header
  .reviews.container
    .reviews-container
      each review in reviews
        .review(data-event=review)
          .image
          .text
            h4= review.quote
            cite= review.name

      else
        .event
          h3 NOTHING HERE. 
          p This world is a vacuous empty pit of despair with nothing novel or exciting ever happening.

  include partials/swansonquote

block scripts
  script(src='/js/reviews.bundle.js')
