extends layout

block content
  include partials/header
  .services-container.sub-container
    .carousel
    .text-container
      ul
        li Catering
        li Shindigs
        li Bar-Mitzvahs
        li Quinceañeras
        li Late-Night Raves
        li Baptisms
        
block scripts
  script(src='/js/carousel.js')
