extends layout

block stylesheets
  link(rel='stylesheet', href='/css/services.bundle.css')
    
block content
  include partials/header
  .services-container.sub-container
    .text-container
      h2 Catering Available For
      .event-list
        - 
          var list = ['Garden Parties', 'Shindigs', 'Bar-Mitzvahs', 'Proms', 'Quinceañeras', 'Late-Night Raves', 'Baptisms', 'Barn Dances']
        each item in list
          div(id=list.indexOf(item))
            span= item
      .contact
        a(href='/contact') Contact Us
    .carousel
      .slider

block scripts
  script(src='/js/services.bundle.js')
