extends layout

block content
  include partials/header
  .services-container.sub-container
    .carousel
    .text-container
      - 
        var list = ['Catering', 'Proms', 'Shindigs', 'Bar-Mitzvahs', 'Funerals', 'Quinceañeras', 'Late-Night Raves', 'Baptisms', 'Cult Rituals']
      each item in list
        div(id=list.indexOf(item))
          span= item

block scripts
  script(src='/js/carousel.js')
