/* --------------------------------
Primary style
-------------------------------- */

@import url(../fonts/industry_inc/font.css);
:root {
  font-size: calc(1vw + 1vh + .5vmin);
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  color: #000;
  font-style: normal;
  font-weight: 400;
  font: 1rem/1.6 'IndustryInc-Base', sans-serif;
}

body.modal-active {
  overflow: hidden;
}

a {
  color: #03bb91;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

button {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}

button.primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

button.primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

button.secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

button.secondary:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
}


/* --------------------------------
Main Components
-------------------------------- */

header {}


/* --------------------------------
  Contact Page
  -------------------------------- */

.contact-page {
  position: absolute;
  width: 100%;
  min-height: 95%;
  color: #2b3e51;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  flex: 1;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

fieldset {
  border: none;
  margin: 24px 0;
}

legend, .form-control.form-textarea .form-label {
  margin-bottom: 20px;
  font-size: 1.25rem;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  text-align: left;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-control.form-textarea {
  flex-direction: column;
}

.form-control .form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 20vmin;
}

.form-control .form-input {
  flex: 1;
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #2b3e51;
  width: 100%;
  border: 1px solid #cfd9db;
  border-radius: 0.25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  border-color: #2c97de;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}

.form-control.form-textarea textarea {
  min-height: 20vmin;
  resize: vertical;
  overflow: auto;
}

.contact-form button.submit {
  background: #2c97de;
  color: #fff;
}

.contact-form button.submit:hover {
  background: #42a2e1;
}

.contact-form button.submit:focus {
  outline: none;
  background: #2b3e51;
}

.contact-form button.submit:active {
  transform: scale(0.9);
}

.contact-form [required] {
  background: url(../imgs/svgs/required.svg) no-repeat top right;
}

.contact-form .error {
  border-color: #e94b35 !important;
}

.form-control.form-textarea {
  margin-top: 20px;
  padding-top: 10px;
}

.form-control .form-input::-webkit-input-placeholder {
  color: #94aab0;
}


/* --------------------------------
Modal
-------------------------------- */

.nav-overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #354546;
  overflow: hidden;
  transition: 0.5s;
}

.nav-content {
  transition: 0.3s;
  flex: 1;
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  /*margin-top: 30px;*/
}

.nav-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #a2a2a2;
  display: block;
}

.nav-overlay svg {
  width: 30vw;
  /*padding: 2em;*/
}

.nav-overlay svg .st0 {
  fill: none;
  stroke: #a2a2a2;
  stroke-width: 4.0418;
  stroke-miterlimit: 10;
}

.nav-overlay svg .st1 {
  fill: #a2a2a2;
}

.nav-overlay svg:hover .st0 {
  stroke: #f1f1f1;
}

.nav-overlay svg:hover .st1 {
  fill: #f1f1f1;
}

.nav-overlay a:hover, .nav-overlay a:focus {
  color: #f1f1f1;
}

span.nav-toggle {
  cursor: pointer;
  position: absolute;
  top: 3vmin;
  right: 3vmin;
  height: 44px;
  width: 44px;
  z-index: 3;
  transition: background 0.2s;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}

.nav-icon, .nav-icon::before, .nav-icon::after {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 2px;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

span.nav-toggle:hover {
  background-color: rgba(23, 23, 23, 0.6);
}

.nav-icon {
  display: inline-block;
  width: 18px;
  height: 2px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.3s, background-color 0.3s;
}

.nav-icon::before, .nav-icon::after {
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.nav-icon::before {
  transform: translateY(-6px);
}

.nav-icon::after {
  transform: translateY(6px);
}

.nav-toggle.open .nav-icon {
  background-color: rgba(255, 255, 255, 0);
}

.nav-toggle.open .nav-icon::before, .nav-toggle.open .nav-icon::after {
  background-color: #fff;
}

.nav-toggle.open .nav-icon {
  transform: translate(-50%, -50%) rotate(90deg);
}

.nav-toggle.open .nav-icon::after {
  /*transform: translate(-5px, 3px) rotate(45deg) scaleX(0.5);*/
  transform: translateY(0) rotate(-45deg);
}

.nav-toggle.open .nav-icon::before {
  /*transform: translate(-5px, -3px) rotate(-45deg) scaleX(0.5);*/
  transform: translateY(0) rotate(45deg);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(69, 88, 143, 0.5);
}

.text-container, .img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
}

.text-container {
  background-color: rgba(69, 88, 143, 1);
  text-align: center;
  flex: 1 0 10%;
  border-bottom: 1vmin solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-container a {
  height: 100%;
}

.text-container h1 {
  width: 75%;
  align-self: center;
}

.img-container {
  background-color: rgba(69, 88, 143, 0.5);
  padding: 5vh;
  flex: 1 1 75%;
  display: flex;
}

img {
  height: 100%;
}

a {
  color: #00B7FF;
}
