/* --------------------------------
Primary style
-------------------------------- */

@import url(../fonts/industry_inc/font.css);
:root {
  font-size: calc(1vw + 1vh + .5vmin);
  --header-bg-color: #512C2F;
  --main-bg-color: #94A9AF;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-style: normal;
  font-weight: 400;
  font: 1rem/1.6 'IndustryInc-Base', sans-serif;
}

body.modal-active {
  overflow: hidden;
}

a {
  color: #03bb91;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

button {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  line-height: 1.25;
  border-radius: 0.25em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

button.primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

button.primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

button.secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

button.secondary:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

header {}


/* --------------------------------
Main Components
-------------------------------- */

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  color: #fff;
  flex: 1 0 15vh;
  background-color: var(--header-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-header h1 {
  flex: 1;
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 1rem;
}

.main-header img {
  position: absolute;
  top: 0;
  left: 0;
  height: 15vh;
}

.sub-container {
  flex: 1 0 85vh;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-content div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sq-image {
  margin-bottom: 2em;
}

.sq-image img {
  width: 100%;
}

.copy p {
  font-size: 0.77rem;
  text-indent: 2em;
}

@media (min-width: 800px) {
  .main-content {
    flex-direction: row;
  }
  .sq-image {
    margin: 0;
    margin-right: 2em;
  }
}


/* --------------------------------
Home Page
-------------------------------- */

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.24);
  background: url(../imgs/smoking_meat.jpeg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

.text-container, .img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
}

.text-container {
  text-align: center;
  flex: 1 0 10%;
  /*border-bottom: 1vmin solid #fff;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text-container a {
  height: 100%;
}

.text-container h1 {
  width: 75%;
  align-self: center;
}

.img-container {
  padding: 5vh;
  flex: 0 1 75%;
  display: flex;
}

img {
  height: 100%;
}

a {
  color: #00B7FF;
}


/* --------------------------------
  Contact Page
  -------------------------------- */

.contact-container {
  color: #2b3e51;
  overflow-y: auto;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  flex: 1;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

fieldset {
  border: none;
  margin-top: 24px;
  padding: 0;
}

legend, .form-control.form-textarea .form-label {
  margin-bottom: 20px;
  font-size: 1.25rem;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  text-align: left;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.form-control.form-textarea {
  flex-direction: column;
}

.form-control .form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 20vmin;
}

.form-control .form-input {
  flex: 1;
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #2b3e51;
  width: 100%;
  border: 1px solid rgba(43, 62, 82, 0.5);
  border-radius: 0.25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  border-color: #1d2a37;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}

.form-control.form-textarea textarea {
  min-height: 20vmin;
  resize: vertical;
  overflow: auto;
}

.contact-form button.submit {
  margin: 0 auto;
  font-size: 0.75rem;
  background: #2b3e51;
  color: #fff;
}

.contact-form button.submit:hover {
  background: #3a4e62;
}

.contact-form button.submit:focus {
  outline: none;
  background: #2b3e51;
}

.contact-form button.submit:active {
  transform: scale(0.9);
}

.contact-form [required] {
  background: url(../imgs/svgs/required2.svg) no-repeat top right;
}

.contact-form .error {
  border-color: #e94b35 !important;
}

.contact-form .success {
  background: url(../imgs/svgs/check.svg) no-repeat center right;
}

.contact-form input, .contact-form textarea, .contact-form [required] {
  background-color: rgba(255, 255, 255, 0.25);
}

.form-control.form-textarea {
  margin-top: 20px;
  padding-top: 10px;
}

.form-control .form-input::-webkit-input-placeholder {
  color: rgba(43, 62, 82, 0.5);
}


/* --------------------------------
Services Page
-------------------------------- */

.services-container.sub-container {
  overflow: auto;
  padding: 0 3em;
}

.carousel {
  flex: 1;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.carousel span {
  z-index: 0;
  text-align: center;
  flex: 1;
  cursor: pointer;
  font-size: 72px;
  color: #fff;
}

.carousel span.prev {
  margin-right: -25%;
}

.carousel span.next {
  margin-left: -25%;
}

.carousel span:hover {
  color: #494949;
}

@media (min-width: 800px) {
  .carousel span.prev, .carousel span.next {
    margin: 0;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* --------------------------------
Modal
-------------------------------- */

.nav-overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #354546;
  overflow: hidden;
  transition: 0.5s;
}

.nav-content {
  transition: 0.3s;
  flex: 1;
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  /*margin-top: 30px;*/
}

.nav-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #a2a2a2;
  display: block;
}

.nav-overlay svg {
  width: 30vw;
  /*padding: 2em;*/
}

.nav-overlay svg .st0 {
  fill: none;
  stroke: #a2a2a2;
  stroke-width: 4.0418;
  stroke-miterlimit: 10;
}

.nav-overlay svg .st1 {
  fill: #a2a2a2;
}

.nav-overlay svg:hover .st0 {
  stroke: #f1f1f1;
}

.nav-overlay svg:hover .st1 {
  fill: #f1f1f1;
}

.nav-overlay a:hover, .nav-overlay a:focus {
  color: #f1f1f1;
}

span.nav-toggle {
  cursor: pointer;
  position: absolute;
  top: 3vmin;
  right: 3vmin;
  height: 44px;
  width: 44px;
  z-index: 3;
  transition: background 0.2s;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}

.nav-icon, .nav-icon::before, .nav-icon::after {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 2px;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

span.nav-toggle:hover {
  background-color: rgba(23, 23, 23, 0.6);
}

.nav-icon {
  display: inline-block;
  width: 18px;
  height: 2px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.3s, background-color 0.3s;
}

.nav-icon::before, .nav-icon::after {
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.nav-icon::before {
  transform: translateY(-6px);
}

.nav-icon::after {
  transform: translateY(6px);
}

.nav-toggle.open .nav-icon {
  background-color: rgba(255, 255, 255, 0);
}

.nav-toggle.open .nav-icon::before, .nav-toggle.open .nav-icon::after {
  background-color: #fff;
}

.nav-toggle.open .nav-icon {
  transform: translate(-50%, -50%) rotate(90deg);
}

.nav-toggle.open .nav-icon::after {
  /*transform: translate(-5px, 3px) rotate(45deg) scaleX(0.5);*/
  transform: translateY(0) rotate(-45deg);
}

.nav-toggle.open .nav-icon::before {
  /*transform: translate(-5px, -3px) rotate(-45deg) scaleX(0.5);*/
  transform: translateY(0) rotate(45deg);
}
