/* --------------------------------
Primary style
-------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Arvo|Slabo+27px');
@import url(../fonts/industry_inc/font.css);
:root {
  font-size: calc(1vw + 1vh + .5vmin);
  --header-bg-color: #512C2F;
  --main-bg-color: #fff;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 1rem/1.6 'IndustryInc-Base', sans-serif;
}

body.modal-active {
  overflow: hidden;
}

h1 {
  font-size: 2.5em;
}

h1, h2, h6 {
  text-align: center;
}

h6 {
  margin: 0;
}

p {
  font-family: 'Arvo', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  line-height: 1.25;
  border-radius: 0.25em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

button.primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

button.primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

button.secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

button.secondary:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

main {
  display: flex;
  flex-direction: column;
}


/* --------------------------------
Main Components
-------------------------------- */

.fullscreen-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -100;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.links-container {
  margin-top: 2rem;
  border-top: 0.2rem solid #fff;
  width: 55%;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links-container a {
  color: #fff;
  transition: 0.2s;
}

.links-container a:hover {
  transform: scale(1.05);
}

.main-header {
  color: #fff;
  flex: 0 1 12vh;
  background-color: var(--header-bg-color);
  display: flex;
}

.main-header .logo, .main-header .title, .main-header .menu {
  display: flex;
  align-items: center;
}

.main-header .logo {
  flex: 0 0 25vw;
  justify-content: flex-start;
}

.main-header .logo svg {
  color: #a2a2a2;
  margin: 1rem;
  height: 50%;
  transition: 0.2s;
}

.main-header .logo svg .st0, .main-header .logo svg .st1 {
  stroke: #f1f1f1;
  fill: #f1f1f1;
}

.main-header .logo:hover svg {
  transform: scale(1.02);
}

.main-header .title {
  flex: 1;
  justify-content: center;
}

.main-header .title h1 {
  color: #f1f1f1;
  font-size: 2.5rem;
  letter-spacing: 1rem;
  padding-top: 0.5rem;
}

.main-header .menu {
  flex: 0 0 25vw;
  justify-content: flex-end;
}

.container {
  flex: 1 1 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sub-container {
  overflow-y: auto;
  flex: 1 0 85vh;
  background-color: var(--main-bg-color);
  min-height: 85vh;
}

.main-content {
  max-width: 90%;
  margin: 0 auto;
}

.text {
  font-family: 'Arvo', sans-serif;
  flex: 1;
  margin: 0 auto;
}

.text h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.text p {
  border-top: 2px solid #000;
  padding-top: 1rem;
  text-align: justify;
  font-size: 0.5rem;
  text-indent: 2rem;
  margin: 0 auto;
}

.main-content .contact {
  border: none;
  padding: 0;
}

.images {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images img {
  max-width: 95%;
  margin-top: 1rem;
  height: auto;
  cursor: pointer;
}

@media (min-width: 800px) {
  .main-content {
    max-width: 100%;
  }
  .text p {
    max-width: 75%;
  }
  .images {
    max-width: 85%;
    margin: 1rem auto;
    flex-direction: row;
  }
  .images img {
    margin-top: 0;
    max-width: calc(33% - 2rem)
  }
  .images img:not(:last-child) {
    margin-right: 1rem;
  }
  .text {
    width: 85%;
  }
}


/* --------------------------------
Home Page
-------------------------------- */

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.24);
  /*background: url(../imgs/smoking_meat.jpeg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;*/
}

.img-container {
  padding: 0 2rem;
  /*flex: 0 1 75%;*/
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 40%;
}

img {
  height: 100%;
}


/* --------------------------------
  Contact Page
  -------------------------------- */

.contact-container, .admin-container {
  color: #2b3e51;
  overflow-y: auto;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  flex: 1;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  margin-top: 24px;
  padding: 0;
}

legend, .form-control.form-textarea .form-label {
  margin-bottom: 20px;
  font-size: 1.25rem;
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  text-align: left;
}

.form-control {
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.form-control.form-textarea {
  flex-direction: column;
}

.form-control .form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 25vmin;
}

.form-control .form-input {
  flex: 1;
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #2b3e51;
  width: 100%;
  border: 1px solid rgba(43, 62, 82, 0.5);
  border-radius: 0.25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

form input:focus, form textarea:focus {
  outline: none;
  border-color: #1d2a37;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}

.form-control.form-textarea textarea {
  min-height: 20vmin;
  resize: vertical;
  overflow: auto;
}

form button.submit {
  margin: 0 auto;
  font-size: 0.75rem;
  background: #2b3e51;
  color: #fff;
}

form button.submit:hover {
  background: #3a4e62;
}

form button.submit:focus {
  outline: none;
  background: #2b3e51;
}

form button.submit:active {
  transform: scale(0.9);
}

form [required] {
  background: url(../imgs/svgs/required2.svg) no-repeat top right;
}

form .error {
  border-color: #e94b35 !important;
}

form .success {
  background: url(../imgs/svgs/check.svg) no-repeat center right;
}

form input, form textarea, form [required] {
  background-color: rgba(255, 255, 255, 0.25);
}

.form-control.form-textarea {
  margin-top: 20px;
  padding-top: 10px;
}

.form-control .form-input::-webkit-input-placeholder {
  color: rgba(43, 62, 82, 0.5);
}


/* --------------------------------
Services Page
-------------------------------- */

.services-container {
  font-family: 'Arvo', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  width: 40%;
}

.text-container h2 {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 0.5rem auto;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #000;
}

.event-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.65rem;
}

.event-list div {
  background-color: #fff;
  text-align: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #000;
}

.contact a {
  color: #000;
  border: 1px solid #000;
  padding: 0.35rem 0.35rem 0.1rem 0.35rem;
  text-rendering: geometricPrecision;
  font-family: 'IndustryInc-Base', sans-serif;
  text-transform: uppercase;
  border-radius: 0.05rem;
}

.contact a:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
  margin: 1rem auto;
}

.slider {
  margin: 0;
  position: relative;
}

.slider img {
  width: 100%;
  height: auto;
}

.carousel span {
  transition: 0.2s;
}

.carousel span:hover {
  transform: scale(1.1);
}

@media(min-width: 800px) {
  .carousel {
    width: 40%;
  }
}


/* --------------------------------
Modal
-------------------------------- */

.nav-overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #354546;
  overflow: hidden;
  transition: 0.5s;
}

.nav-content {
  transition: 0.3s;
  flex: 1;
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  /*margin-top: 30px;*/
}

.nav-overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #a2a2a2;
  display: block;
}

.nav-overlay svg {
  width: 20vmin;
  border-bottom: 5px solid #a2a2a2;
}

.nav-overlay svg:hover {
  border-bottom: 5px solid #f1f1f1;
}

.nav-overlay svg .st0 {
  fill: none;
  stroke: #a2a2a2;
  stroke-width: 4.0418;
  stroke-miterlimit: 10;
}

.nav-overlay svg .st1 {
  fill: #a2a2a2;
}

.nav-overlay svg:hover .st0 {
  stroke: #f1f1f1;
}

.nav-overlay svg:hover .st1 {
  fill: #f1f1f1;
}

.nav-overlay a:hover, .nav-overlay a:focus {
  color: #f1f1f1;
}

span.nav-toggle {
  cursor: pointer;
  position: absolute;
  top: 3vmin;
  right: 3vmin;
  height: 44px;
  width: 44px;
  z-index: 3;
  transition: background 0.2s;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}

.nav-icon, .nav-icon::before, .nav-icon::after {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 2px;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

span.nav-toggle:hover {
  background-color: rgba(23, 23, 23, 0.6);
}

.nav-icon {
  display: inline-block;
  width: 18px;
  height: 2px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.3s, background-color 0.3s;
}

.nav-icon::before, .nav-icon::after {
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.nav-icon::before {
  transform: translateY(-6px);
}

.nav-icon::after {
  transform: translateY(6px);
}

.nav-toggle.open .nav-icon {
  background-color: rgba(255, 255, 255, 0);
}

.nav-toggle.open .nav-icon::before, .nav-toggle.open .nav-icon::after {
  background-color: #fff;
}

.nav-toggle.open .nav-icon {
  transform: translate(-50%, -50%) rotate(90deg);
}

.nav-toggle.open .nav-icon::after {
  /*transform: translate(-5px, 3px) rotate(45deg) scaleX(0.5);*/
  transform: translateY(0) rotate(-45deg);
}

.nav-toggle.open .nav-icon::before {
  /*transform: translate(-5px, -3px) rotate(-45deg) scaleX(0.5);*/
  transform: translateY(0) rotate(45deg);
}


/* --------------------------------
Social Media
-------------------------------- */

.links {
  z-index: 0;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.links a {
  padding: 0 0.1rem;
}

.links a:last-child {
  margin-right: 0.5rem;
}

.links img {
  transition: 0.2s;
  width: 1.5rem;
  height: 1.5rem;
}

.links img:hover {
  transform: scale(1.08);
}


/* --------------------------------
Loader
-------------------------------- */

.message {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.message-symbol {
  font-size: 15rem;
  text-shadow: 0px 0px 15px rgba(89, 89, 89, 1);
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load5 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}


/* --------------------------------
Admin Page
-------------------------------- */


/* --------------------------------
Events Page
-------------------------------- */

.events-container {
  overflow-y: auto;
  text-align: center;
}

.event {
  width: 75%;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 0.25rem;
  padding: 0 1rem;
  margin: 0 auto;
  font-family: 'Arvo', sans-serif;
}

.event h3, .event h6 {
  font-family: 'IndustryInc-Base', sans-serif;
}

.event .contact {
  border: none;
  margin-top: 1rem;
}

.event h3 {
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.event h6 {
  margin-bottom: 1rem;
}

.event span, .event address {
  font-size: 0.6rem;
}

@media(min-width: 800px) {
  .event {
    width: 55%;
  }
}
