each event, index in events
  tr.event(data-id=event._id)
    td= (index + 1) + '.'
    td= event.title
    td.btn-container
      button#editEvent.button &plus;
    td.btn-container
      button#removeEvent.button &times;
