@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
.quote-container {
  font-family: 'Permanent Marker', system-ui, sans-serif;
  background-color: rebeccapurple;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  & .quote-image {
    flex: 0 0 640px;
    overflow: hidden;
    opacity: 0;
  }
  & .quote-text {
    flex: 1;
    opacity: 0;
    text-transform: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    text-align: center;
    color: #e7e7e7;
    line-height: 1;
    font-size: 1.5rem;
  }
}

.quote-container.reversed {
  flex-direction: row-reverse;
}

.fadeInOut {
  animation: fadeInOut 8s ease infinite;
}

@keyframes fadeInOut {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (width <=1200px) {
  .quote-container {
    height: 200px;
    & .quote-image {
      flex: 0 0 320px;
    }
    & .quote-text {
      font-size: 1rem;
    }
  }
}

@media (width <=900px) {
  .quote-container {
    height: 169px;
    & .quote-image {
      flex: 0 0 270px;
    }
    & .quote-text {
      font-size: 0.9rem;
    }
  }
}

@media (width <=736px) {
  .quote-container {
    height: 110px;
    & .quote-image {
      flex: 0 0 175px;
    }
    & .quote-text {
      font-size: 0.75rem;
    }
  }
}
