@font-face {
  font-family: 'IndustryInc-Base';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/industry_inc/IndustryInc-Base.woff') format('woff'),
  url('./fonts/industry_inc/IndustryInc-Base.ttf') format('truetype'),
  url('./fonts/industry_inc/IndustryInc-Base.svg#IndustryInc-Base') format('svg');
}

@font-face {
  font-family: 'industry_inc';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/industry_inc/industry_inc.eot'),
  url('./fonts/industry_inc/industry_inc.woff2') format('woff2'),
  url('./fonts/industry_inc/industry_inc.eot?#iefix') format('embedded-opentype');
}
